<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>



<button><a href="/">GO BACK</a></button>
<hr>

<%beers.forEach((beer) => {%>
  Beer Description: <%=beer.name%>
    <br> <br>
  Name: <%=beer.description%>
    <br> <br>
  Alcohol By Volume:  <%=beer.abv%>
    <br> <br>
  Is Beer Organic?: <%=beer.isOrganic%>
    <br> <br>
  Food Parings: <%=beer.foodPairings%>
    <br> <br>
  Style: <%=beer.style.name%>
    <br> <br>





    <% if (beer.labels) { %>
        <img src=" <%= beer.labels.medium %> " alt="">
    <% } else {%>
        <img src="" alt="no image found">
    <%}%>

    <form class="save" action="/favorites" method="POST">
  <input type="submit" name="name" value="Add to Tab!">
</form>
  <hr>




<%})%>
</body>
</html>
