<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Next Round</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>


<div class="container">
<h1 class="header"><%= heading %></h1>
<h2><center><a href="/favorites">Your Favorites</a></center></h2>

  <div class="searchDiv">
    <form class="searchForm" action="/search" method="GET">
      <input class="searchBeer" type="text" name="searchTerm" placeholder="Search Beer by Name">

      <input class ="searchButton" type="submit" value="Search">
    </form>
  </div> <!-- search div end -->

<hr>
<div class="flex-container">
  <div class="image_container">
<%beers.forEach((beer) => { %>
  <ul= class="beerDetails">

   <% if (beer.labels) { %>
        <img class = "beerImage" src=" <%= beer.labels.medium %> " alt="no image found">
    <% } else {%>
        <img class = "beerImage" src="" alt="no image found">
    <%}%>

    <form  action="/favorites" method="POST">
    <input type="hidden" name="beerName" value="<%= beer.name%>">
  <input class="save" type="submit" name="name" value="Add to Tab!">
</form>

</div>
<div id="details">
  <li class="des"> <span>Beer Description:</span>   <br><br><%=beer.name%></li><br>
  <li class="name"> <span>Name:</span> <br><br> <%=beer.description%></li><br>
  <li class="abv"> <span>Alcohol By Volume:</span> <br><br>  <%=beer.abv%></li><br>
  <li class="org"> <span>Is Beer Organic?:</span>  <br><br><%=beer.isOrganic%></li><br>
  <li class="pairings"> <span>Food Parings:</span> <br><br> <%=beer.foodPairings%></li><br>
    <br>
    </div>

    <%})%>
</ul>

</div> <!-- container div end -->
</div>
</body>
</html>
